body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url("https://i.pinimg.com/originals/1d/ab/2c/1dab2cef65d55acf2b1a23cb88cb41f4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.film-list {
  background-color: white;
  opacity: 0.9;
  width: 70%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;

}

.film-box {
  background-color: white;
  opacity: 0.75;
  width: 100%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
}

.table {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: inline-block;

}
